<div class="container shadow hidden-print">
	<div class="row">
		<div class="col-lg-2 visible-lg">
			<a n:href=":Front:Product:default"><div id="qr"></div></a>
		</div>
		<div class="col-lg-10">
			<a n:href=":Front:Product:default">
				<h1>Vacuum - ESHOP</h1>
			</a>
		</div>
	</div>
</div>