{block content}
	<div class="row">
		<div class="col-lg-4 product" n:foreach="$products as $product">
			<a n:href="detail $product->slug"><h4>{$product->name}</h4></a>

			<p class="description">{$product->description|noescape|texy|striptags|truncate:200}</p>
		</div>
	</div>
{/block}