{define table-open-tag}
	<table class="table table-striped table-hover">
{/define}

{define global-filter-actions}
	<span style="white-space:nowrap">
		{input filter, class => "btn btn-primary", value => Filtrovat}
		{if $showCancel}
			{input cancel class => "btn"}
		{/if}
	</span>
{/define}

{define col-filter}
	{input $column->name, class => 'grid-input form-control'}
{/define}

{define row-edit-actions}
	{input save class => "btn btn-primary"}
	{input cancel class => "btn"}
{/define}

{if $control->getEditFormFactory()}
	{var $rowActions = 'row-actions'}
{else}
	{var $rowActions = 'row-actions-do_not_render'}
{/if}

{define $rowActions}
	<a href="{link edit! $primary}" data-datagrid-edit class="ajax btn btn-primary">Edit</a>
{/define}

{define pagination}
{if $paginator->pageCount > 1}
	<div class="text-center">
		<ul class="pagination">
			<?php
				$page = $paginator->getPage();
				if ($paginator->pageCount < 2) {
					$steps = array($page);
				} else {
					$arr = range(max($paginator->firstPage, $page - 3), min($paginator->lastPage, $page + 3));
					$count = 4;
					$quotient = ($paginator->pageCount - 1) / $count;
					for ($i = 0; $i <= $count; $i++) {
						$arr[] = round($quotient * $i) + $paginator->firstPage;
					}
					sort($arr);
					$steps = array_values(array_unique($arr));
				}
			?>
			{if $paginator->isFirst()}
				<li class="disabled"><a>« Předchozí</a></li>
			{else}
				<li><a href="{link paginate!, 'page' => $paginator->page - 1}" class="ajax">« Předchozí</a></li>
			{/if}

			{foreach $steps as $step}
				{if $step == $paginator->page}
					<li class="active"><a>{$step}</a></li>
				{else}
					<li><a href="{link paginate!, 'page' => $step}" class="ajax">{$step}</a></li>
				{/if}
				{if $iterator->nextValue > $step + 1}<li class="disabled"><a>…</a></li>{/if}
			{/foreach}

			{if $paginator->isLast()}
				<li class="disabled"><a>Další »</a></li>
			{else}
				<li><a href="{link paginate!, 'page' => $paginator->page + 1}" class="ajax">Další »</a></li>
			{/if}
		</ul>
	</div>
{/if}
{/define}





{define col-name}
	<td>
		<a href="{plink edit! id => $row->id}" class="ajax scroll">{$cell}</a>
	</td>
{/define}

{define col-username}
	<td>
		<a href="{plink edit! id => $row->id}" class="ajax">{$cell}</a>
	</td>
{/define}

{define row-actions}
	<a href="{plink delete! $primary}" data-confirm="Opravdu smazat?" class="btn btn-danger ajax">Smazat</a>
{/define}

{define col-category_id}
<td>
	{$row->category->name}
</td>
{/define}

{define col-active}
<td>
	{if $cell === 'y'}
		ANO
	{elseif $cell === 'n'}
		NE
	{elseif $cell === 'x'}
		Částečně
	{/if}
</td>
{/define}

{define col-promo}
<td>
	<input class="product_promo" data-product-id="{$row->id}" type="radio" name="promo"{if $row->promo} checked="checked"{/if}>
</td>
{/define}