<html>
<head>
	<style>
		html, body { font-family: sans-serif; color: #000000; }
		img { width: 100%; }
		.margin { margin: 0 30mm; }
		table, th, td { border: 1px solid black; border-collapse: collapse; }
		th, td { padding: 5px 10px; }
	</style>
</head>
<body>
<htmlpageheader name="MyHeader1">
	<img src="../www/images/PDFHeader.png" />
</htmlpageheader>
<htmlpagefooter name="MyFooter1">
	&nbsp;
</htmlpagefooter>
<sethtmlpageheader name="MyHeader1" value="on" show-this-page="1" />
<sethtmlpagefooter name="MyFooter1" value="on" />

<div class="margin">
	<h2>Příloha č. 1.</h2>
	<h1>Požadavky na grafické podklady zaslané Objednatelem</h1>

	<h3>Požadavky na logo/logotyp zaslané Objednatelem:</h3>
	<p>
		IAESTE přijímá logo/logotyp Objednatele pouze ve vektorových formátech *.pdf (Portable Document
		Format), *.ai (Adobe Illustrator), *.indd (Adobe InDesign Document) a *.eps (Encapsulated PostScript). Logo/logotyp
		musí být zaslán podle účelu objednávky – v barevné podobě (CMYK) nebo černobílé podobě.
	</p>
	<p>
		Pokud má Objednatel k dispozici logomanuál k danému logu, IAESTE vyžaduje jeho zaslání přes email nebo webový odkaz na daný logomanuál.
		Pokud Objednatel nezašle IAESTE logomanuál přestože jej má, IAESTE nenese žádnou zodpovědnost za nedodržení pravidel, která jsou v logomanuálu stanovena.
		Zaslání logomanuálu Objednatelem je vyžadováno při každé nové objednávce bez ohledu na podobnost s
		předchozími objednávkami.
	</p>

	<h3>Požadavky na kreativní část strukturované strany v Katalogu iKariéra a na inzerci v Průvodci prváka formátů A6 a A8:</h3>
	<p>
		IAESTE přijímá podklady pro obrazovou část strukturované strany Katalogu iKariéra a pro
		necelostránkovou inzerci v Průvodci prváka ve formátech *.pdf (Portable Document Format), *.ai (Adobe
		Illustrator), *.indd (Adobe InDesign Document), *.eps (Encapsulated PostScript) nebo *.tiff (TIFF). Podklady
		musí být předložené buď ve vektorové grafice nebo v bitmapových formátech tiskové kvality o rozlišení 300
		dpi (CMYK).
	</p>
	<p>
		Pokud je součástí strukturované strany logo/logotyp Objednatele, má Objednatel povinnost zaslat
		elektronicky – e-mailem platný logomanuál (viz bod Požadavky na logo/logotyp zaslané Objednatelem).
	</p>
	<p>Rozměry inzerce pro jednotlivé publikace jsou:</p>
	<ul>
		<li>pro Průvodce prváka - A6 na šířku (148x105 mm) nebo A8 na šířku (74x52 mm)</li>
		<li>pro variantu A1 Katalogu iKariéra – 1/3 A4 na šířku (185x80 mm)</li>
		<li>pro variantu A2 Katalogu iKariéra – A6 na výšku (105x148 mm)</li>
	</ul>

	<h3>Požadavky na barevnou kreativní stranu v Katalogu iKariéra, v Průvodci prváka, Diáři studenta
		či Průvodce veletrhem:</h3>
	<p>
		IAESTE přijímá kompletní návrhy barevných stran se spadávkou 5 mm. Akceptované jsou formáty
		*.pdf (Portable Document Format), *.ai (Adobe Illustrator), *.indd (Adobe InDesign Document), *.eps
		(Encapsulated PostScript) nebo *.tiff (TIFF). Podklady musí být předložené buď ve vektorové grafice nebo v
		bitmapových formátech tiskové kvality o rozlišení 300 dpi (CMYK). Text obsažený v kreativní straně musí být
		převeden do křivek. Každá kreativní strana musí obsahovat ořezové značky a výše zmíněnou spadávku 5
		mm. Kreativní strana ve formátu PDF musí být kompatibilní s Acrobat Reader 4.0 (PDF 1.4).
	</p>
	<p>Rozměry barevné kreativní strany jsou:</p>
	<ul>
		<li>pro Katalog iKariéra - A4 na výšku (210x297 mm)</li>
		<li>pro Průvodce prváka - A5 na výšku (148x210 mm)</li>
		<li>pro Diář studenta - A6 na výšku (105x148 mm)</li>
	</ul>

	<h3>Požadavky na elektronické materiály pro použití na nosiči CD-ROM:</h3>
	<p>
		IAESTE přijímá obrazové podklady pro uvedení na nosiči CD-ROM ve formátech *.jpg, *.jpeg (Joint
		Photographic Experts Group), *.gif (Graphics Interchange Format), *.png (Portable Network Graphics).
		Obrazové podklady musí mít rozlišení nejméně 72 dpi, v měřítku 1:1.
	</p>
	<p>
		IAESTE přijímá textové podklady pro uvedení na nosiči CD-ROM zhotovené v textových editorech ve formátu *.doc, *.docx, *.rtf, *.txt nebo *.odt.
	</p>
	<p>
		Pokud Objednatel vyžaduje specifický typ písma, je doporučeno ho přiložit společně s textovými
		podklady, aby se zabránilo záměně za jiné písmo.
	</p>
	<p>
		V případě rozšířené prezentace Objednatele v podobě HTML, Flash, PowerPoint nebo zpracování
		prezentace dle požadavků Objednatele si IAESTE vyhrazuje právo naúčtovat vícenáklady až do výše 2000,-
		Kč, dle náročnosti této práce.
	</p>
	<p>
		<strong>
			Pokud Objednatel nedodrží některý z výše zmíněných požadavků, IAESTE nezodpovídá za
			kvalitu tiskového výstupu a vyhrazuje si právo na odmítnutí přijetí podkladů ke zpracování. V případě
			dodání grafických podkladů v neadekvátním formátu, si IAESTE vyhrazuje právo účtovat za grafické
			vícepráce smluvní ceny.
		</strong>
	</p>

	<h3>Korektury standardních a kreativních stran:</h3>
	<p>
		Objednatel dodá IAESTE všechny potřebné podklady nejpozději 30 dnů před konáním předmětného
		projektu. IAESTE připraví do 15 dnů od obdržení všech potřebných podkladů od Objednatele návrh
		smluvené prezentace Objednatele (dále jen „Návrh“) a odešle jej e-mailem Objednateli. Pokud Objednatel
		v této lhůtě neobdrží e-mail s Návrhem, oznámí neprodleně po uplynutí této lhůty nedoručení Návrhu
		IAESTE, jinak se má za to, že Návrh byl Objednateli řádně doručen v den odeslání emailu.
	</p>
	<p>
		Objednatel má možnost provést opravy textu zaslaného Návrhu ve lhůtě do 5 dnů ode dne, kdy mu
		byl Návrh doručen. Pokud IAESTE neobdrží v této lhůtě e-mail s návrhem oprav textu Návrhu, má se za to,
		že Objednatel žádné opravy nepožaduje a s obsahem Návrhu souhlasí.
	</p>
	<p>
		IAESTE nenese žádnou odpovědnost za obsah a gramatické chyby v textech dodaných od
		Objednatele.
	</p>
</div>
</body>
</html>