<!DOCTYPE html>
<meta charset="utf-8">
<meta name="robots" content="noindex">

<h1>Registrace byla úspěšná</h1>

<p>Děkujeme za registraci.</p>

<p>Vaše registrace právě čeká na schválení, mezitím si prosím vyplňte údaje o své firmě na adrese {link //:User:Setting:default}.</p>

<p>O úspěšném schválení registrace budete informování emailem.</p>